{{ define "main" }}
  <!-- page title -->
  <section class="bg-primary page-title position-relative overflow-hidden">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="heading text-center">{{ .Title }}</h1>
        </div>
      </div>
    </div>
    <img src="{{ .Params.BackgroundImageMobile | relURL}}" alt="besök" class="bg-shape-1 w-100 d-lg-none">
    <img src="{{ .Params.BackgroundImage | relURL}}" alt="besök" class="bg-shape-1 w-100 d-none d-lg-block">
  </section>
  <!-- /page title -->

  <!--Sub menu-->
  <div class="sub-nav">
    <ul class="nav nav-justified">
      {{ range (index $.Site.Data.visit .Title) }}
      <li class="nav-item">
        <a class="nav-link active" href="#{{ .hash }}">{{ .title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  <!-- /Sub menu -->

  {{ range (index $.Site.Data.visit .Title) }}
  <div class="container section p-0 pt-4" id="{{.hash}}">
    <div class="page-header">
      <h4 class="p-4 mb-4 text-center text-uppercase bg-lightGold">{{ .title }}</h4>
    </div>

    <div class="row">
      {{range .content}}
      <div class="col-12 col-lg-6 p-3">
        <h4 class="bg-lightestGreen p-3 e">{{.helperText}}</h4>
        <p class="bg-lightestGold p-3">{{.info | markdownify }}</p>
      </div>
      {{end}}
    </div>
  </div>
  {{ end }}

  {{ if isset .Params "title" }}
    {{ range last 1 (index $.Site.Data.visit .Title) }}
    <div class="container bg-lightestGold tips section p-4 mb-4"> 
      <ul>
        {{range .tips}}
        <li class="p-3">{{.tip }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  {{ end }}
{{end}}