<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "instagram.html" . -}}
        {{- partial "footer.html" . -}}

        <script>
            if (window.netlifyIdentity) {
              window.netlifyIdentity.on("init", user => {
                if (!user) {
                  window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                  });
                }
              });
            }
          </script>

  <nav class="navbar fixed-bottom navbar-light bg-light d-lg-none border-top p-3">
    <a class="nav-link btn-boka text-center p-3 text-uppercase mx-auto" href="{{ .Site.Params.footer.link}}" target="_blank">Boka tid</a>
  </nav>
</body>
</html>