{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-fluid">
        </div> 
        <div class="col-lg-6"> 
          <h3 class="mb-2 pt-4 text-uppercase">{{.Title}}</h3>
          <p class="font-secondary">Publicerat {{ .PublishDate.Format "Jan 02, 2006" }}</p>
          <!-- av <span class="text-primary">{{.Params.Author}}</span></p> -->
          <div class="content">
            {{.Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}