  <!-- Kontakt -->
  <section class="section bg-darkestGreen">
        <div class="container-fluid p-0">
          <div class="row justify-content-md-center">
            <div class="col-md-3 text-center">
              <a class="nav-link btn-boka text-center p-4 text-uppercase" href="#">Boka tid</a>
            </div>
            <div class="col-md-3 text-center">
      
              <h5 class="text-light">Email</h5>
              <p class="text-white paragraph-lg font-secondary">{{.Site.Params.footer.email}}</p>
            </div>
            <div class="col-md-3 text-center">
              <h5 class="text-light">Telefon</h5>
              <p class="text-white paragraph-lg font-secondary">{{.Site.Params.footer.phone}}</p>
            </div>
          </div>
        </div>
      </section>
      <!-- /Kontakt -->