<!-- instagram -->
<section class="section py-0">

    <div class="container-fluid section bg-lightGold">
      <div class="col-12 text-center">
        <h2 class="section-title">Instagram</h2>
      </div>
    </div>
  
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/95a6db2154295a0996092c54d4f46d0e.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>    
    <!-- <div class="container-fluid  px-0">
          <div class="row no-gutters">
            <div class="col-md">
              <img src="{{ `images/tiffany.jpg` | relURL}}" class="img-fluid">
            </div>
            <div class="col-md">
              <img src="{{ `images/tiffany.jpg` | relURL}}" class="img-fluid">
            </div>
            <div class="col-md">
              <img src="{{ `images/tiffany.jpg` | relURL}}" class="img-fluid">
            </div>
            <div class="col-md">
              <img src="{{ `images/tiffany.jpg` | relURL}}" class="img-fluid">
            </div>
            <div class="col-md">
              <img src="{{ `images/tiffany.jpg` | relURL}}" class="img-fluid">
            </div>
          </div>
        </div> -->
  </section>
  <!-- /instagram -->