<!-- page title -->
<!-- <section class="page-title bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{.Title}}</h1>
      </div>
    </div>
  </div>
</section> -->
<!-- /page title -->

<section class="bg-primary page-title position-relative overflow-hidden">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 px-0 mx-auto">
          <h1 class="heading text-center">{{ .Title }}</h1>
        </div>
      </div>
    </div>
    <img src="/images/nyheterbg.jpg" alt="besök" class="bg-shape-1 w-100">
  </section>
